soap-server/src/main/resources/countries.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.baeldung.com/springsoap/gen" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.baeldung.com/springsoap/gen" targetNamespace="http://www.baeldung.com/springsoap/gen">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.baeldung.com/springsoap/gen">
            <xs:element name="getCountryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="countryName" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCountryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="country" type="tns:country"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addCountryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="country" type="tns:country"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addCountryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="addingStatus" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeCountryRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="countryName" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeCountryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="removingStatus" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="country">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="population" type="xs:int"/>
                    <xs:element name="capital" type="xs:string"/>
                    <xs:element name="currency" type="tns:currency"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="currency">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="GBP"/>
                    <xs:enumeration value="EUR"/>
                    <xs:enumeration value="PLN"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getCountryResponse">
        <wsdl:part element="tns:getCountryResponse" name="getCountryResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addCountryRequest">
        <wsdl:part element="tns:addCountryRequest" name="addCountryRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="removeCountryRequest">
        <wsdl:part element="tns:removeCountryRequest" name="removeCountryRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addCountryResponse">
        <wsdl:part element="tns:addCountryResponse" name="addCountryResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="removeCountryResponse">
        <wsdl:part element="tns:removeCountryResponse" name="removeCountryResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCountryRequest">
        <wsdl:part element="tns:getCountryRequest" name="getCountryRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CountriesPort">
        <wsdl:operation name="getCountry">
            <wsdl:input message="tns:getCountryRequest" name="getCountryRequest"> </wsdl:input>
            <wsdl:output message="tns:getCountryResponse" name="getCountryResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addCountry">
            <wsdl:input message="tns:addCountryRequest" name="addCountryRequest"> </wsdl:input>
            <wsdl:output message="tns:addCountryResponse" name="addCountryResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeCountry">
            <wsdl:input message="tns:removeCountryRequest" name="removeCountryRequest"> </wsdl:input>
            <wsdl:output message="tns:removeCountryResponse" name="removeCountryResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CountriesPortSoap11" type="tns:CountriesPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getCountry">
            <soap:operation soapAction=""/>
            <wsdl:input name="getCountryRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCountryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addCountry">
            <soap:operation soapAction=""/>
            <wsdl:input name="addCountryRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="addCountryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeCountry">
            <soap:operation soapAction=""/>
            <wsdl:input name="removeCountryRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="removeCountryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CountriesPortService">
        <wsdl:port binding="tns:CountriesPortSoap11" name="CountriesPortSoap11">
            <soap:address location="http://localhost:9090/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>